.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/src/test/java/test.java
/src/test/java/com/github/felipeucelli/javatube/CaptionsTest.java
/src/test/java/com/github/felipeucelli/javatube/ChannelTest.java
/src/test/java/com/github/felipeucelli/javatube/InnerTubeTest.java
/src/test/java/com/github/felipeucelli/javatube/PlaylistTest.java
/src/test/java/com/github/felipeucelli/javatube/SearchTest.java
/src/test/java/com/github/felipeucelli/javatube/StreamQueryTest.java
/src/test/java/com/github/felipeucelli/javatube/YoutubeTest.java

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/gradle.xml

### File Type ####
*.mp4
*.mp3
*.webm
*.srt

.cache/*